<h1>Анкети</h1>

<p><%= link_to 'Добави анкета', new_quiz_path %></p>

<% if @quizzes.any? %>
  <ul>
    <% @quizzes.each do |quiz| %>
      <li><%= link_to quiz.name, quiz %></li>
    <% end %>
  </ul>
<% else %>
  <p>Все още няма анкети.</p>
<% end %>
